<div class="social-media">
    <div class="social-media-item">
        <a href="mailto:finnnorth@gmail.com"> <img src="/images/email.svg"> </a>
    </div>
    <div class="social-media-item">
        <a href="https://www.linkedin.com/in/finn-sinclair-286462133/"> <img src="/images/linkedin.svg"> </a>
    </div>
    <div class="social-media-item">
        <a href="https://github.com/Zee2"> <img src="/images/github.svg"> </a>
    </div>
    <div class="social-media-item">
        <a href="https://store.steampowered.com/app/515020/The_VR_Museum_of_Fine_Art/"> <img src="/images/steam.svg"> </a>
    </div>
</div>